
<form action="/api/books/<%= book.id %>" method="POST">
    <% books.forEach((book)=> { %>
    <div class="books-container">
        <h2>
            <%= book.title %>
        </h2>
        <p>
            <%= book.author %>
        </p>
        <p>
           <%= book.year %>
        </p>
        <img src="<%= book.image %>" alt="<%= book.title %>">
        <button>
            <a href="/api/books/<%= book.id %>">Details</a>
        </button>
        <button>
            <a href="/api/update-book/<%= book.id %>">Update</a>
        </button>
        <button>
            <a href="/api/delete/<%= book.id %>">Delete</a>
        </button>
    </div>
    <% }) %>
</form>
